/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
    
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

#page{
    margin-top: 50px;
}

.btn-new {
    margin-top: 15px;
    margin-bottom: 5px;
}


/*#span-value-movement {
        background: green;
}*/

a { color: #333; }

.btn-transform { 
    transition: width 1s, height 5s, transform 2s;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
}

.btn-transform:hover { 
    /*-webkit-transform: translate(10px,10px);*/
    -webkit-transform: scale(1.1,1.1);
}

.texto { transition: all 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550); }

a:hover .texto { transform: scale(1.2); }

.span-value-movements-debit {
    background:  red;
    text-shadow: none;
}
.span-value-movements-credit {
    background:  #7eb841;
    text-shadow: none;
}

.floatLeft {
    float: left;
}

.block{
    display: block;
}

.margin_right{
    margin-right: 20px;
}

.margin_right3{
    margin-right: 80px!important;
}

.margin_left{
    margin-left: 20px;
}

.margin_top{
    margin-top: 5px;
}

.clear{
    clear: both;
}

.float_right{
    float: right;
}

.ui-li-has-count .ui-li-count{
    margin-top: 0 !important;
}

.titulo>h1:hover {
    cursor: pointer;
}

.titulo>.row {
    padding-top: 20px;
}